Alexis Nieto and Payton Cavanagh for Dr.Hou CSUSB parking project

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from tabulate import tabulate

In [2]:
df = pd.read_csv('Fall2021_export.csv', parse_dates=['timestamp'])

In [3]:
df['weekday'] = df['timestamp'].dt.day_name() # adding weekday column to the df

In [4]:
#df.set_index ('timestamp', inplace= True)
df.index = df['timestamp']

In [5]:
df = df.tz_convert(tz = 'US/Pacific')

In [6]:
filt =(df['event'] == 1)
df.loc[filt]
semester_total = df.loc[filt].shape[0]
print('semester total = ', semester_total)

semester total =  55448

In [7]:
#remove weekends from dataframe
weekday_df = df[(df['weekday'] != 'Saturday') & (df['weekday'] != 'Sunday')]
weekday_df

,timestamp,sensor_id,event,description,weekday
timestamp,,,,,
2021-08-23 00:37:34.498000-07:00,2021-08-23 07:37:34.498000+00:00,a224,-1,Exit East,Monday
2021-08-23 02:18:44.971000-07:00,2021-08-23 09:18:44.971000+00:00,a43b,1,Enter East,Monday
2021-08-23 02:28:50.811000-07:00,2021-08-23 09:28:50.811000+00:00,a224,-1,Exit East,Monday
2021-08-23 04:29:56.736000-07:00,2021-08-23 11:29:56.736000+00:00,a43b,1,Enter East,Monday
2021-08-23 04:36:56.650000-07:00,2021-08-23 11:36:56.650000+00:00,a43b,1,Enter East,Monday
...,...,...,...,...,...
2021-12-23 09:25:38.150000-08:00,2021-12-23 17:25:38.150000+00:00,a9a4,1,Enter West,Thursday
2021-12-23 09:42:10.494000-08:00,2021-12-23 17:42:10.494000+00:00,a7db,-1,Exit West,Thursday
2021-12-23 09:49:08.283000-08:00,2021-12-23 17:49:08.283000+00:00,a7db,-1,Exit West,Thursday
2021-12-23 11:02:56.549000-08:00,2021-12-23 19:02:56.549000+00:00,a43b,1,Enter East,Thursday
2021-12-23 12:00:45.100000-08:00,2021-12-23 20:00:45.100000+00:00,a224,-1,Exit East,Thursday

In [15]:
#Payton's code
#c = []
car_count = 0
time_filt = ((weekday_df['event'] == 1).resample('H').sum()) - (
    (weekday_df['event'] == -1).resample('H').sum())

new_time = time_filt['2021-08-23 02:00:00':'2021-12-23']
new_time
type(new_time)

#c.append(new_time['2021-09-07-2:00':'2021-09-10'])
#c
print(new_time.dtype)

int64

In [9]:
for i in range(len(c)):
    car_count += int(c[1])
    print (car_count)

NameError: name 'c' is not defined